.card-title
{
    font-size: 20px;
}

.card-text
{
    font-size: 40px;
}

#recovered-icon, #case-icon, #death-icon
{
    margin-right: 10px;
}

.confirmed
{
    color: #b3a700;
}

.deaths
{
    color: #b50202;
}

.recovered
{
    color: #00821c;
}